@use 'mixins' as *;

.layout-topbar {
    position: fixed;
    height: 4rem;
    z-index: var(--z-topbar);
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    transition: left var(--layout-section-transition-duration);
    background-color: var(--surface-card);
    display: flex;
    align-items: center;

    .layout-topbar-logo-container {
        width: auto;
        display: flex;
        align-items: center;
    }

    .layout-topbar-logo {
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        border-radius: var(--content-border-radius);
        color: var(--text-color);
        font-weight: 500;
        gap: 0.5rem;

        &:focus-visible {
            @include focused();
        }
    }

    .layout-topbar-actions {
        margin-left: auto;
        display: flex;
        gap: 1rem;
    }

    .layout-config-menu {
        display: flex;
        gap: 1rem;
    }
}
